body {
  font: small arial, sans-serif;
  margin: 0;
  font-size: 16px;
  color: white;
  padding: 0;
}

#canvas-container {
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}

.footer {
  margin-top: 60px;
  font-size: 12px;
}
