#welcome-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &.welcome-active::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/office-background.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(5px);
  }
}

.welcome-corner {
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 20;

  @keyframes welcome-top-left-corner {
    0% { transform: rotate(20deg) translate(0, 0); }
    100% { transform: rotate(20deg) translate(30vw, 0) }
  }

  @keyframes welcome-top-right-corner {
    0% { transform: scaleX(-1) rotate(20deg) translate(0, 0); }
    100% { transform: scaleX(-1) rotate(20deg) translate(30vw, 0) }
  }

  @keyframes welcome-bottom-left-corner {
    0% { transform: rotate(-20deg) translate(0, 0); }
    100% { transform: rotate(-20deg) translate(30vw, 0) }
  }

  @keyframes welcome-bottom-right-corner {
    0% { transform: scaleX(-1) rotate(-20deg) translate(0, 0); }
    100% { transform: scaleX(-1) rotate(-20deg) translate(30vw, 0) }
  }

  @keyframes dissolve {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url(../images/angry.png);
    animation: dissolve 0.01s 3.3s linear forwards;
  }

  &::after {
    background-image: url(../images/shine.png);
    opacity: 0;
    animation: appear 0.01s 3.3s linear forwards;
  }

  &.welcome-corner-top-left {
    top: 0;
    left: -20vw;
    animation: welcome-top-left-corner 0.1s linear forwards;

    @media (max-width: 1600px) and (min-width: 1024px) {
      left: -30vw;
    }

    @media (max-width: 1024px) {
      left: -40vw;
    }
  }

  &.welcome-corner-top-right {
    top: 0;
    right: -20vw;
    transform: scaleX(-1);
    animation: welcome-top-right-corner 0.1s 0.1s linear forwards;

    @media (max-width: 1600px) and (min-width: 1024px) {
      right: -30vw;
    }

    @media (max-width: 1024px) {
      right: -40vw;
    }
  }

  &.welcome-corner-bottom-left {
    bottom: 0;
    left: -20vw;
    animation: welcome-bottom-left-corner 0.1s 0.2s linear forwards;

    @media (max-width: 1600px) and (min-width: 1024px) {
      left: -30vw;
    }

    @media (max-width: 1024px) {
      left: -40vw;
    }
  }

  &.welcome-corner-bottom-right {
    bottom: 0;
    right: -20vw;
    transform: scaleX(-1);
    animation: welcome-bottom-right-corner 0.1s 0.3s linear forwards;

    @media (max-width: 1600px) and (min-width: 1024px) {
      right: -30vw;
    }

    @media (max-width: 1024px) {
      right: -40vw;
    }
  }
}

@keyframes welcome-center-before {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

@keyframes welcome-center-after {
  0% { transform: scale(0); opacity: 1; }
  70% { transform: scale(0.9); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}

.welcome-center {
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;

  &.welcome-center-before {
    width: 40%;
    height: 40%;
    background-image: url(../images/itdog01.png);
    animation: welcome-center-before 2s 1s linear forwards;
  }

  &.welcome-center-after {
    width: 80%;
    height: 80%;
    background-image: url(../images/itdog03.png);
    animation: welcome-center-after 0.3s 3s linear forwards;
    opacity: 0;

    @media (max-width: 1024px) {
      width: 60%;
      height: 60%;
    }
  }

  &.welcome-center-background {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90vh;
    height: 100vh;
    background-color: red;
    clip-path: polygon(7% 0, 23% 33%, 3% 30%, 18% 51%, 0 73%, 29% 67%, 26% 100%, 48% 74%, 63% 94%, 66% 69%, 97% 82%, 76% 59%, 100% 58%, 80% 47%, 95% 29%, 71% 30%, 86% 3%, 59% 24%, 48% 1%, 42% 23%);
    -webkit-clip-path: polygon(7% 0, 23% 33%, 3% 30%, 18% 51%, 0 73%, 29% 67%, 26% 100%, 48% 74%, 63% 94%, 66% 69%, 97% 82%, 76% 59%, 100% 58%, 80% 47%, 95% 29%, 71% 30%, 86% 3%, 59% 24%, 48% 1%, 42% 23%);
    z-index: 1;
    transform: scale(0);
    animation: welcome-center-after 0.1s 3s linear forwards;
  }

  &.welcome-center-background::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 75%;
    height: 75%;
    background-color: orange;
    background-position: center;
    clip-path: polygon(7% 0, 23% 33%, 3% 30%, 18% 51%, 0 73%, 29% 67%, 26% 100%, 48% 74%, 63% 94%, 66% 69%, 97% 82%, 76% 59%, 100% 58%, 80% 47%, 95% 29%, 71% 30%, 86% 3%, 59% 24%, 48% 1%, 42% 23%);
    -webkit-clip-path: polygon(7% 0, 23% 33%, 3% 30%, 18% 51%, 0 73%, 29% 67%, 26% 100%, 48% 74%, 63% 94%, 66% 69%, 97% 82%, 76% 59%, 100% 58%, 80% 47%, 95% 29%, 71% 30%, 86% 3%, 59% 24%, 48% 1%, 42% 23%);
    z-index: 2;
  }

  &.welcome-center-background::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 55%;
    height: 55%;
    background-color: yellow;
    background-position: center;
    clip-path: polygon(7% 0, 23% 33%, 3% 30%, 18% 51%, 0 73%, 29% 67%, 26% 100%, 48% 74%, 63% 94%, 66% 69%, 97% 82%, 76% 59%, 100% 58%, 80% 47%, 95% 29%, 71% 30%, 86% 3%, 59% 24%, 48% 1%, 42% 23%);
    -webkit-clip-path: polygon(7% 0, 23% 33%, 3% 30%, 18% 51%, 0 73%, 29% 67%, 26% 100%, 48% 74%, 63% 94%, 66% 69%, 97% 82%, 76% 59%, 100% 58%, 80% 47%, 95% 29%, 71% 30%, 86% 3%, 59% 24%, 48% 1%, 42% 23%);
    z-index: 3;
  }
}
